.header__logo {
  padding-bottom: 41px;
  max-width: 142px;
}

@media screen and (max-width: 960px) {
  .header__logo {
    padding-left: 27px;
  }
}

@media screen and (max-width: 424px) {
  .header__logo {
    padding-bottom: 32px;
    max-width: 104px;
  }
}