.cards__like-button {
  padding: 0;
  margin: 30px 20px;
  width: 22px;
  height: 19px;
  background: transparent url(../../../images/like-ikon.svg) center no-repeat;
  cursor: pointer;
  border: none;
}